<div class="mt-5" style="position:relative; top: 20px">
  <div>
    <nav class="navbar fixed-top  navbar-dark bg-primary text-center">
      <a class="btn btn-primary" [routerLink]="['/autor']">
        <i class="fas fa-arrow-left"></i>
      </a>
      <a class="btn" [routerLink]="['/autor']" style="color:white">
        {{titulo}}
      </a>
      <a [routerLink]="['/autor/new']" class="btn btn-primary" (click)="enviar()" >
        <i class="fas fa-check"></i>
      </a>
    </nav>
  </div>

  <form [formGroup]="autorForm" novalidate>
    <div class="form-group col-2 d-none">
      <input type="number" formControlName="autSeqAutor" class="form-control" placeholder="Código" ng-enter="" readonly>
    </div>

    <div class="form-group col-sm-12">
      <input type="text" formControlName="autNomeAutor" class="form-control text-capitalize" placeholder="Nome">
    </div>

    <div class="form-group col-sm-12">
      <textarea rows="4" cols="50" formControlName="autDescricaoAutor" class="form-control" placeholder="Descrição"></textarea>
    </div>
  </form>

  <nav class="navbar fixed-bottom  navbar-dark bg-primary nav-bottom">
    <!-- <button (click)="enviar()" class="btn btn-sm btn-primary">
      <i class="fas fa-save"></i>
      Salvar</button> -->
      <span>
          &nbsp;
        </span>
    <!-- <button (click)="delete(autor.autSeqAutor)" *ngIf="autor.autSeqAutor" class="btn btn-sm btn-primary" title="Excluir">
      <i class="fas fa-trash-alt"></i>
      Excluir
    </button> -->
  </nav>
