<div class="mt-5" style="position:relative; top: 20px">
  <div>
    <nav class="navbar fixed-top  navbar-dark bg-primary text-center">
      <a class="btn btn-primary" [routerLink]="['/livro']">
        <i class="fas fa-arrow-left"></i>
      </a>
      <a class="btn" href="#" style="color:white">
        {{titulo}}
      </a>
      <a [routerLink]="['livro']" class="btn btn-primary" (click)="enviar()">
        <i class="fas fa-check"></i>
      </a>
    </nav>
  </div>

  <form [formGroup]="livroForm" novalidate class="">
    <div class="form-group d-none">
      <input type="number" formControlName="livSeqLivro" class="form-control" placeholder="Código" readonly>
    </div>

    <div class="row  ml-0 mr-0">
      <div class="col-sm-12 col-lg-3 ">
        <div class="form-group">
          <label for="idLivCodBarrasLivro">Código de barras</label>
          <input id="idLivCodBarrasLivro" type="number" formControlName="livCodBarrasLivro" [readonly]="!alterarBarCode"
            class="form-control form-control-sm" placeholder="Código barras">
        </div>

        <div class="form-group">
          <button [disabled]="!alterarBarCode" class="btn btn-primary" (click)="pesquisarIsbn()">
            <i class="fas fa-barcode"></i> Pesquisar
          </button>
        </div>
      </div>

      <div class="col-sm-12 col-lg-9 ">
        <div class="form-group col-sm-12  col-lg-6">
          <img [src]="smallThumbnail" class="smallThumbnail" *ngIf="smallThumbnail" >
        </div> 
      </div>
    </div>
    <hr>

    <div class="row ml-0 mr-0">
      <div class="form-group col-sm-12 col-lg-4">
        <label for="idLivTitulo">Título</label>      
        <input id="idLivTitulo" type="text" formControlName="livTitulo"
          class="form-control form-control-sm text-capitalize" 
          placeholder="Titulo"
          [readonly]="!inserirManualmente">
      </div>   
      
      <div class="form-group col-sm-12 col-lg-8 ">
        <label for="idLivSubTitulo">Sub Título</label>
        <input id="idLivSubTitulo" type="text" formControlName="livSubTitulo"
          class="form-control form-control-sm text-capitalize"
          placeholder="Sub Titulo"
          [readonly]="!inserirManualmente">
      </div>      
    </div>

    <div class="row ml-0 mr-0">
      <div class="form-group col-sm-12  col-lg-3">
        <label for="idCtlSeqCategoriaLivro">Categoria</label>
        <input id="idCtlSeqCategoriaLivro" type="text" formControlName="livCategoria"
          class="form-control form-control-sm text-capitalize col-sm-12 col-lg-12" 
          placeholder="Categoria">
      </div>

      <div class="form-group col-sm-12 col-lg-3">
        <label for="idLivPaginasLivro">Páginas</label>
        <input type="text" formControlName="livPaginasLivro" 
          class="form-control form-control-sm col-sm-12 col-lg-12"
          placeholder="Páginas"
          [readonly]="!inserirManualmente" >
      </div>

      <div class="form-group  col-sm-12 col-lg-3 ">
        <label for="idEdtSeqEditora">Editora</label>
        <input type="text" formControlName="livEditora" [readonly]="!inserirManualmente"
          class="form-control form-control-sm text-capitalize  col-sm-12 col-lg-12"
          placeholder="Editora">
      </div>

      <div class="form-group col-sm-12 col-lg-3">
        <label for="idLivAnoEdicaoLivro">Ano publicação</label>
        <input id="idLivAnoEdicaoLivro" type="text" formControlName="livAnoEdicaoLivro"
          class="form-control form-control-sm col-sm-12 col-lg-12" 
          placeholder="Ano publicação">
      </div>
    </div>
    <div class="row mr-0 ml-0 ">
      <div class="form-group col-sm-12 col-lg-2">
        <input id="idLivFlgLido" type="checkbox" formControlName="livFlgLido" class="ml-0 form-check-input">
        <label class="form-check-label ml-3 " for="idLivFlgLido">Livro lido</label>
      </div>

      <div class="form-group col-sm-12 col-lg-2">
        <input id="idLivFlgLiteraturaEstrangeira" type="checkbox" formControlName="livFlgLiteraturaEstrangeira"
          class="ml-0 form-check-input">
        <label class="form-check-label ml-3 " for="idLivFlgLiteraturaEstrangeira">Literatura estrangeira</label>
      </div>
    </div>

    <div class="row ml-0 mr-0" *ngIf="inserirManualmente">
      <div class="col-sm-12 col-lg-3 ">
        <div class="form-group">
          <!-- <label for="idAutor">Autor</label> -->
          <input #file id="idAutor" type="text" formControlName="nomeAutor"
            class="form-control form-control-sm" placeholder="Nome do autor">
        </div>

        <div class="form-group">
          <button class="btn btn-primary" (click)="addAutor(file)">
            <i class="fas fa-plus"></i> Adicionar
          </button>
        </div>
      </div>

      <div class="col-sm-12 col-lg-9 ">
        <div class="form-group col-sm-12  col-lg-6">
          <img [src]="smallThumbnail" class="smallThumbnail" *ngIf="smallThumbnail" >
        </div> 
      </div>
    </div>

    <div class="form-group col-sm-12">

    <label for="idAutores" *ngIf="respIsbn.length > 0">Autor</label>
    <table class="table table-striped table-bordered" id="idAutores" >
      <tr *ngFor="let autor of respIsbnAuthors">
        <td class="text-capitalize">
          {{autor}}
        </td>
        <td *ngIf="inserirManualmente">
          <button class="btn btn-danger" (click)="excluirAutor(autor)">
            <i class="fas fa-trash"></i> 
          </button>
        </td>
      </tr>
    </table>
  </div>
    <div class="form-group col-sm-12 ">
      <label for="idLivDscLivro">Descrição</label>
      <textarea id="idLivDscLivro" rows="4" cols="50" formControlName="livDscLivro" class="form-control form-control-sm"
        placeholder="Descrição" style="outline: none;"  [readonly]="!inserirManualmente"></textarea>
    </div>

    <div class="row ml-0 mr-0">
      <div class="form-group col-sm-12  col-lg-6">
        <label for="idLivImgLivro">Inserir Imagem</label>
        <input #file type="file" accept='image/*' (change)="preview(file.files)" 
          class="form-control-file" id="idLivImgLivro" >
      </div>
    </div>

    <div class="form-group col-sm-12  col-lg-6">
        <img [src]="imgURL"class="img-upload ml-0 mr-0"  >
      </div>  
  </form>
  <br><br>
</div>
<!-- <nav class="navbar fixed-bottom navbar-dark bg-primary nav-bottom">
  <span>
    &nbsp;
  </span>
</nav> -->