<div class="mt-5" style="position:relative; top: 20px">
  <div>
    <nav class="navbar fixed-top  navbar-dark bg-primary text-center">
      <a class="btn btn-primary" [routerLink]="['/livro']">
        <i class="fas fa-arrow-left"></i>
      </a>
      <a class="btn" href="#" style="color:white">
        {{titulo}}
      </a>
      <a [routerLink]="['/']" class="btn btn-primary" (click)="enviar()">
        <i class="fas fa-check"></i>
      </a>
    </nav>
  </div>

  <form [formGroup]="livroForm" novalidate class="">
    <div class="form-group d-none">
      <input type="number" formControlName="livSeqLivro" class="form-control" placeholder="Código" readonly>
    </div>

    <div class="form-group col-sm-12 col-lg-4 ">
      <label for="idLivCodBarrasLivro">Código de barras</label>
      <input id="idLivCodBarrasLivro" type="number" formControlName="livCodBarrasLivro"
        class="form-control form-control-sm" placeholder="Código barras">
    </div>

    <div class="form-group col-sm-12 col-lg-4 ">
      <button class="btn btn-primary" (click)="pesquisarIsbn()">
        <i class="fas fa-barcode"></i> Pesquisar
      </button>
    </div>
    <hr>

    <div class="form-group col-sm-12 col-lg-12 ">
      <label for="idLivTitulo">Título</label>
      <input id="idLivTitulo" type="text" formControlName="livTitulo"
        class="form-control form-control-sm text-capitalize" placeholder="Titulo">
    </div>

    <div class="form-group col-lg-12 row mr-0">
      <div class="form-group col-sm-12  col-lg-3">
        <label for="idCtlSeqCategoriaLivro">Categoria</label>
        <input id="idCtlSeqCategoriaLivro" type="text" formControlName="ctlSeqCategoriaLivro"
          class="form-control form-control-sm text-capitalize col-sm-12 col-lg-12" 
          placeholder="Categoria">
      </div>

      <div class="form-group col-sm-12 col-lg-3">
        <label for="idLivPaginasLivro">Páginas</label>
        <input type="text" formControlName="livPaginasLivro" class="form-control form-control-sm text-capitalize  col-sm-12 col-lg-12"
          placeholder="Páginas">
      </div>

      <div class=" col-sm-12 col-lg-3 ">
        <label for="idEdtSeqEditora">Editora</label>
        <input type="text" formControlName="livEditora" 
          class="form-control form-control-sm text-capitalize  col-sm-12 col-lg-12"
          placeholder="Editora">
      </div>

      <div class="col-sm-12 col-lg-3">
        <label for="idLivAnoEdicaoLivro">Ano publicação</label>
        <input id="idLivAnoEdicaoLivro" type="text" formControlName="livAnoEdicaoLivro"
          class="form-control form-control-sm col-sm-12 col-lg-12" 
          placeholder="Ano publicação">
      </div>
    </div>
    <div class="form-group col-lg-12 row">
      <div class="form-group col-sm-12 col-lg-2">
        <input id="idLivFlgLido" type="checkbox" formControlName="livFlgLido" class="ml-0 form-check-input">
        <label class="form-check-label ml-3 " for="idLivFlgLido">Livro lido</label>
      </div>

      <div class="form-group col-sm-12 col-lg-2">
        <input id="idLivFlgLiteraturaEstrangeira" type="checkbox" formControlName="livFlgLiteraturaEstrangeira"
          class="ml-0 form-check-input">
        <label class="form-check-label ml-3 " for="idLivFlgLiteraturaEstrangeira">Literatura estrangeira</label>
      </div>
    </div>

    <div class="form-group col-sm-12">
   
    <!-- <button class="btn btn-sm btn-primary" title="Excluir">
        <i class="fas fa-plus"></i>             
    </button> -->
    <table class="table table-striped table-hover" >

        <thead>
            <td colspan="2">
                Autor(es)
            </td>
        </thead>

        <tr *ngFor="let autor of autores">
          <td>          
            {{autor.autNomeAutor}}          
          </td>
          <td>
            <button class="btn btn-sm btn-danger float-right" title="Excluir">
                <i class="fas fa-trash"></i>             
            </button>
          </td>
        </tr>
      </table>    
  </div>
    <div class="form-group col-sm-12 ">
      <label for="idLivDscLivro">Descrição</label>
      <textarea id="idLivDscLivro" rows="4" cols="50" formControlName="livDscLivro" class="form-control form-control-sm"
        placeholder="Descrição"></textarea>
    </div>

    <!-- <div class="form-group col-sm-12 col-lg-4">
      <select type="text" class="form-control form-control-sm text-capitalize" placeholder="Categoria">
        <option value="" disabled>Choose a state</option>
        <option *ngFor="let autSelected of todosOsAutores" [ngValue]="autSelected">
          {{autSelected.autNomeAutor}}
        </option>
      </select>
    </div>
     -->

  </form>
  <br><br>
</div>
<nav class="navbar fixed-bottom navbar-dark bg-primary nav-bottom">
  <span>
    &nbsp;
  </span>
</nav>
