<div>
  <nav class="navbar navbar-dark bg-primary fixed-top text-center nav-bottom">
    <a style="color:white" class="btn">
      Meus Livros
    </a>
  </nav>
</div>
<br><br><br>
<div class="row">
  <div class="col-md-4 mb-2">
    <div class="card">
      <div class="card-body">
        <!-- <h5 class="card-title">Livros</h5> -->
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a class="nav-link" [routerLink]="['livro']" data-toggle="collapse">
          <i class="fas fa-book"> Livros</i></a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-2">
    <div class="card">
      <div class="card-body">
        <!-- <h5 class="card-title">Autores</h5> -->
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a class="nav-link" routerLink="autor" data-toggle="collapse">
          <i class="fas fa-users"> Autores</i></a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <!-- <h5 class="card-title">Editoras</h5> -->
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
        <a class="nav-link" [routerLink]="['editora']" data-toggle="collapse">
          <i class="fas fa-book"> Editoras</i></a>
      </div>
    </div>
  </div>
</div>

<nav class="navbar fixed-bottom  navbar-dark bg-primary nav-bottom">
  <span>
    <i class="fas fa-book-reader btn-primary"></i>
  </span>
</nav>


<!-- <header class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Biblioteca</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="#">Livro </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink] = "['autor']" data-toggle="collapse">Autor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink] = "['editora']" data-toggle="collapse">Editora</a>
          </li>
        </ul>
        
      </div>
    </header> -->
