body{
	color: #555 !important;
	background-color: #f0f0f0;
	min-height: 400px;
    font-size: 0.7rem;    
}

nav{
    background-color: #4682B4;
    color: #fff !important;
    padding: 15px;    
    max-height: 40px;
}

table{
    text-transform: capitalize;
}

.table-caption{
    background-color: #4682B4;
    color: #fff;
}

.botoes{
	text-align: right;
}

.topTitle{
	color: #007bff;
	padding: 15px 0px 15px 0px !important;	
	vertical-align: middle;	
}

tr:hover{
     background-color: rgba(151, 191, 223, 0.816) !important;
}

.btn-actions{
	text-align: end;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5rem + 2px);
    padding: .375rem .75rem;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn {
    padding: .25rem .5rem;
    font-size: .7rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.myBox{
    /* border: 1px solid #ced4da; */
    padding: 10px;
    background-color: #fff;
    height: 0 auto;
    vertical-align: middle !important;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #d0d0d0;
}

.myBoxPesquisarAutor{
    /* border: 1px solid #ced4da; */
    padding: 10px;
    background-color: #fff;
    height: 50px;
    box-shadow: 2px 2px 5px #d0d0d0;    
    border-radius: 5px;
}

.myFooter{
    background-color: rgb(153, 151, 151);
    position: fixed;
    bottom: 0px;
    height: 20px;
    width: 100%;
    text-align: center; 
    vertical-align: middle !important;    
}

a.link-footer:link{
    text-decoration: none;
    color: #fff !important;
}

a.link-footer:visited{
    text-decoration: none !important;
    color: #fff !important;
}

a.link-footer:hover{
    text-decoration: none;
    color: #fff !important;
}

a.nav-link:any-link{
    text-decoration: none;
    color: #fff !important;
    font-weight: bold;
}

#logo_centro {
	width: 300px;
	height: 130px;
	margin-left: -150px; /* metade da largura */
	margin-top: -85px; /* metade da altura */
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
}
